.plansScreen > p {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.plansScreen__plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
  transition: transform 450ms;
}

.plansScreen__plan:hover {
  opacity: 1;
  transform: scale(1.03);
}

.plansScreen__plan > button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #000;
  background-color: #3b8df0;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .plansScreen__plan > button {
    padding: 5px 10px;
    font-size: 0.7rem;
  }
}

.plansScreen__plan--disabled > button {
  background-color: gray;
}
