.plansScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plansScreen > p {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.plansScreen__plan {
  width: 80%;
  opacity: 0.8;
  transition: all 0.3s ease;
  padding: 10px;
}

.plansScreen__plan:hover {
  opacity: 1;
  transform: scale(1.03);
}

.plansScreen__plan > button {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #000;
  background-color: #3b8df0;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.plansScreen__info > h5 {
  margin-bottom: 2px;
}

.plansScreen__info > h6 {
  margin-bottom: 4px;
}
@media screen and (max-width: 768px) {
  .plansScreen__plan {
    flex-direction: column;
    align-items: center;
  }

  .plansScreen__plan > button {
    width: 100%;
    font-size: 0.8rem;
  }

  .plansScreen__plan--disabled > button {
    background-color: #b0b0b0;
  }
}

.plansScreen__plan--disabled > button {
  background-color: gray;
}

@media screen and (min-width: 769px) {
  .plansScreen__plan {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 10px auto;
  }

  .plansScreen__plan > button {
    padding: 12px 24px;
    font-size: 1rem;
  }

  .plansScreen__plan--disabled > button {
    background-color: gray;
  }
}
